@page
@model AspLesson4.Pages.Product.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1 class="m-5 text-danger">Special INFO @Model.Message</h1>

<div class="alert alert-success" role="alert">
    @Model.Info
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">@item.Name</th>
                <th scope="row">@item.Price<span>$</span></th>
                <th scope="row"><a class="btn btn-outline-primary" asp-route-id="@item.Id" asp-page-handler="Edit">Edit</a></th>
                <th scope="row"><a class="btn btn-outline-danger" asp-route-id="@item.Id" asp-page-handler="MyOnClick">Delete</a></th>
                
            </tr> 
        }
    </tbody>
</table>

<form class="col-5" method="post">
    <div class="mb-3">
        <label  class="form-label">Product Name</label>
        <input asp-for="Product.Name" type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Product Price</label>
        <input asp-for="Product.Price" type="number" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Add New Product</button>
    
</form>